<%include "header.gsp"%>
	
	<%include "menu.gsp"%>
	
	<div class="page-header">
		<h1>${content.title}</h1>
		<h4>${content.author}, ${content.email}</h4>
		<%if(content.script){%>
		<p><a target="_blank" href="<%if (content.rootpath) {%>${content.rootpath}<% } else { %><% }%>${content.script.drop(1)}">
		Descargar el script <%if (content.rootpath) {%>${content.rootpath}<% } else { %><% }%>${content.script.drop(1)}
		</a></p>
		<%}%>
		<%if(content.spanish){%>
		<a href="${content.spanish}.html"><span class="flag-icon flag-icon-es flag-icon-squared"></span></a>
		<%}%>
		<%if(content.english){%>
		<a href="${content.english}.html"><span class="flag-icon flag-icon-gb flag-icon-squared"></span></a>
		<%}%>
	</div>

	<p><em>${new java.text.SimpleDateFormat("dd MMMM yyyy", Locale.ENGLISH).format(content.date)}</em></p>

	<p>${content.body}</p>

	<hr />

	<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://101-groovy-scripts.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	
<%include "footer.gsp"%>
